@{
    ViewData["Title"] = "Danh sách giảng viên";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model List<TeacherAttendance>

<div class="content-table">
    <div class="card">
        <h5 class="card-header">Danh sách giảng viên</h5>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <div id="pagination-container">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-nowrap">
                                    <th>Status</th>
                                    <th>Mã giảng viên</th>
                                    <th>Tên giảng viên</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var teacherAttendance in Model)
                                {
                                    <tr>

                                       
                                            @if(teacherAttendance.Status==true){
                                                <td>Tham gia</td>
                                            }
                                            else
                                            {
                                                <td>Vắng mặt</td>
                                            }
                                        <td>@teacherAttendance.TeacherId</td>
                                        <td>@teacherAttendance.Teacher.Name </td>
                                        <td>@teacherAttendance.Teacher.Mobile </td>
                                        <td>@teacherAttendance.Teacher.Email </td>   
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        loadStudents();

        function loadStudents(page = 1) {
            $.ajax({
                url: '/Attendance/GetTeacherAttendances',
                type: 'GET',
                data: { page: page },
                success: function (result) {
                    $('#pagination-container').html(result);
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Đã xảy ra lỗi khi tải dữ liệu sinh viên!'
                    });
                }
            });
        }

        $(document).on('click', '.page-link', function () {
            var page = $(this).data('page');
            loadStudents(page);
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


