@{
    ViewData["Title"] = "Chi tiết chi phí giảng dạy";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


@model List<Expense>

<div class="content-table">
    <div class="card">
        <h5 class="card-header">Chi phí giảng dạy</h5>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div id="pagination-container">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-nowrap">
                                    <th>Mã</th>
                                    <th>Tên lớp</th>
                                    <th>Học phần</th>
                                    <th>Chi phí (mỗi tiết)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var expense in Model)
                                {
                                    <tr>
                                        <td>@expense.ExpenseId</td>
                                        <td>@expense.Class.ClassName</td>
                                        <td>@expense.Subject.SubjectName</td>
                                        <td>@expense.ChargeAmount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        load();

        function load(page = 1) {
            $.ajax({
                url: '/Teacher/GetExpenseDetail',
                type: 'GET',
                data: { page: page },
                success: function (result) {
                    $('#pagination-container').html(result);
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Đã xảy ra lỗi khi tải dữ liệu sinh viên!'
                    });
                }
            });
        }

        $(document).on('click', '.page-link', function () {
            var page = $(this).data('page');
            load(page);
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
