@{
    Layout = "~/Views/Shared/_LayoutHome1.cshtml";
    ViewData["Title"] = "Giới thiệu";
}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header" style="background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../home/img/carousel-2.png);">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Giới thiệu</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Chất lượng đào tạo</h5>
                        <p>Chương trình đào tạo tiên tiến, môi trường rèn luyện năng động và sáng tạo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Tầm nhìn</h5>
                        <p>Trở thành trường đại học đa ngành theo định hướng nghiên cứu hàng đầu cả nước.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">

                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Lớp học trực tuyến</h5>
                        <p>Có thêm nhiều lớp học trực tuyến thuận tiện cho sinh viên học tập, rèn luyện.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Thư viện sách</h5>
                        <p>Nhà trường có vô vàn loại sách theo các chuyên ngành khác nhau cho sinh viên.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../home/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Giới thiệu</h6>
                <h1 class="mb-4">Chào mừng đến với Đại học ABC</h1>
                <p class="mb-4">Trường Đại học ABC có sứ mạng đào tạo, nghiên cứu khoa học, chuyển giao công nghệ chất lượng cao theo xu thế hội nhập,có trách nhiệm xã hội nhằm thúc đẩy sự phát triển bền vững của ngành giao thông vận tải và đất nước.</p>
                <p class="mb-4">
                    Mục tiêu:Hướng tới mô hình đại học đa ngành về kỹ thuật, công nghệ và kinh tế; trở thành đại học trọng điểm, đào tạo nguồn nhân lực có trình độ cao đáp ứng nhu cầu phát triển bền vững ngành giao thông vận tải và đất nước;
                    là trung tâm nghiên cứu khoa học có uy tín về một số lĩnh vực; có đẳng cấp trong khu vực và hội nhập Quốc tế;
                    là địa chỉ tin cậy của người học, nhà đầu tư và toàn xã hội.
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Nhà trường điện tử</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Thư viện</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cổng thông tin việc làm</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Sự kiện</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Giảng viên</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Văn bản</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Đọc thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->