@{
    ViewData["Title"] = "Quản lí";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="content-table" >
    <div class="card">
        @*  <h5 class="card-header">Danh sách giảng viên</h5> *@
        <img src="../signin/img/background.png"  />
    </div>
</div>

