@{
    ViewData["Title"] = "Danh sách sinh viên tham gia";
    Layout = "~/Views/Shared/_LayoutTeacherDashboard.cshtml";
}

<div class="content-wrapper container-xxl flex-grow-1 container-p-y custom-cursor-default-hover">
    <!-- Content -->
    <div class="content-table">
        <div class="card">
            <img src="../signin/img/slide2.png" />
        </div>
    </div>
   
</div>