@{
    ViewData["Title"] = "Danh sách lớp";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model List<Class>

<div class="content-table">
    <div class="card">
        <h5 class="card-header">Danh sách lớp</h5>
        <div class="container">
            <div class="row" style="padding-bottom:30px">
                <div class="col-md-6 col-sm-12">
                    <form method="post" asp-action="index" asp-controller="class">
                        <div class="form-group" style="margin-top:0">
                            <label for="ClassName" style="margin-bottom:10px;">Tên lớp:</label>
                            <input type="text" class="form-control" id="ClassName" name="ClassName" placeholder="Nhập tên lớp" style="color: black;background-color: #e0e1ff;" required />
                            <button class="btn btn-primary" style="margin:0;margin-top:20px" type="submit">Thêm lớp</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="pagination-container">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-nowrap">
                                    <th>ID</th>
                                    <th>Tên lớp</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lop in Model)
                                {
                                    <tr>

                                        <td>@lop.ClassId</td>
                                        <td>@lop.ClassName</td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        loadStudents();

        function loadStudents(page = 1) {
            $.ajax({
                url: '/class/GetClass',
                type: 'GET',
                data: { page: page },
                success: function (result) {
                    $('#pagination-container').html(result);
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Đã xảy ra lỗi khi tải dữ liệu sinh viên!'
                    });
                }
            });
        }

        $(document).on('click', '.page-link', function () {
            var page = $(this).data('page');
            loadStudents(page);
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
